<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Script tags go here! -->

<link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css">
<script><link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"></script>
<script><link href="/jquery/jquery.min.js" rel="stylesheet"></script>
<script><link href="/bootstrap/js/bootstrap.min.js" rel="stylesheet"></script>
  </body>
</html>
